---
import { getEntryBySlug } from "astro:content";
import { defaultDescription, url } from "@/metadata";
import Layout from "@/layouts/Layout.astro";

const { slug } = Astro.params;

if (slug === undefined) {
  throw new Error("Slug is required");
}

const entry = await getEntryBySlug("web", slug);

if (entry === undefined) {
  return Astro.redirect("/404");
}

const {
  Content,
  remarkPluginFrontmatter: { title, tag },
} = await entry.render();
---

<Layout title={`${title} | ${url.slice(8)}`} description={defaultDescription}>
  <p class="text-sm">{tag}</p>
  <h1 class="text-4xl font-bold">{title}</h1>
  <article class="prose">
    <Content />
  </article>
</Layout>
