---
import { getEntryBySlug } from "astro:content";
import { defaultDescription, url } from "@/metadata";
import Layout from "@/layouts/Layout.astro";

const { slug } = Astro.params;

if (slug === undefined) {
  return Astro.redirect("/");
}

const entry = await getEntryBySlug("web", slug);

if (entry === undefined) {
  return Astro.redirect("/404");
}

const {
  Content,
  remarkPluginFrontmatter: { title, tag },
} = await entry.render();
---

<Layout title={`${title} | ${url.slice(8)}`} description={defaultDescription}>
  <section>
    <p class="text-sm pb-2">{tag}</p>
    <h1 class="text-4xl font-bold pb-4">{title}</h1>
  </section>
  <article
    class="prose prose-headings:text-blue-50 prose-headings:my-4 prose-p:text-blue-50"
  >
    <Content />
  </article>
</Layout>
