---
import { getEntryBySlug } from "astro:content";
import { defaultDescription, url } from "@/metadata";
import Layout from "@/layouts/Layout.astro";

const { slug } = Astro.params;

if (slug === undefined) {
  return Astro.redirect("/");
}

const entry = await getEntryBySlug("web", slug);

if (entry === undefined) {
  return Astro.redirect("/404");
}

const {
  Content,
  remarkPluginFrontmatter: { title, category },
} = await entry.render();
---

<Layout title={`${title} | ${url.slice(8)}`} description={defaultDescription}>
  <section class="pt-6 border-b">
    <span class="text-sm bg-red-300 px-2 py-0.5 rounded-full">{category}</span>
    <h1 class="text-4xl font-bold pb-4">{title}</h1>
  </section>
  <article class="prose pt-6 pb-12">
    <Content />
  </article>
</Layout>
