---
import { name, twitterId, url } from "@/metadata";

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" content={name} />
    <meta name="author" content={name} />
    <meta name="description" content={description} />
    <meta name="robots" content="index,follow" />
    <meta name="theme-color" content="#000" />
    <meta name="generator" content={Astro.generator} />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <!-- Open Graph -->
    <meta property="og:title" content={name} />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content={name} />
    <meta property="og:url" content={url} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="/android-chrome-512x512.png" />
    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={name} />
    <meta name="twitter:site" content={twitterId} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="/android-chrome-512x512.png" />
    <meta name="twitter:image:alt" content="Junseong Park's website logo" />
    <title>{title}</title>
    <!-- Google tag (gtag.js) -->
    <script
      type="text/partytown"
      src="https://www.googletagmanager.com/gtag/js?id=G-RYGJ1C37SZ"
    ></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-RYGJ1C37SZ");
    </script>
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
