---
import Container from "@/components/Container.astro";
import Header from "@/components/Header.astro";
import { name, twitterId, url } from "@/metadata";

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en-US" class="text-3xl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" content={name} />
    <meta name="author" content={name} />
    <meta name="description" content={description} />
    <meta name="robots" content="index,follow" />
    <meta name="theme-color" content="#FFF" />
    <meta name="generator" content={Astro.generator} />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <!-- Open Graph -->
    <meta property="og:title" content={name} />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content={name} />
    <meta property="og:url" content={url} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="/android-chrome-512x512.png" />
    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={name} />
    <meta name="twitter:site" content={twitterId} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="/android-chrome-512x512.png" />
    <meta name="twitter:image:alt" content="Junseong Park's website logo" />
    <title>{title}</title>
    <!-- Google tag (gtag.js) -->
    <script
      type="text/partytown"
      src="https://www.googletagmanager.com/gtag/js?id=G-DVMYSN4MQC"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-DVMYSN4MQC");
    </script>
    <script type="text/partytown">
      (function (c, l, a, r, i, t, y) {
        c[a] =
          c[a] ||
          function () {
            (c[a].q = c[a].q || []).push(arguments);
          };
        t = l.createElement(r);
        t.async = 1;
        t.src = "https://www.clarity.ms/tag/" + i;
        y = l.getElementsByTagName(r)[0];
        y.parentNode.insertBefore(t, y);
      })(window, document, "clarity", "script", "hg6gi4jsv8");
    </script>
  </head>
  <body class="bg-white text-black">
    <Header />
    <Container>
      <slot />
    </Container>
  </body>
</html>
